// Footer
.Footer{
    &-payments{
        padding-top:30px;
        padding-bottom:30px;
        background: #f4f5f5;

        img{
            margin-left:auto;
            margin-right:auto;
            margin-bottom:20px;
        }
    }

    &-nav{
        padding-top:30px;
        padding-bottom:30px;
        background:#8dc73f;
        a{
            color:#d0d2d3;
            &:hover{
                color:#fff;
            }
        }
        h4{
            color:#fff;
            margin-top:0;
            padding-top:30px;
            margin-bottom:22px;
        }
        li{
            display:list-item;
        }

    }

    &-social{
        a{
            display:inline-block;
            width:34px;
            height:34px;
            color:#8dc73f;
            font-size:28px;
            line-height:34px;
            text-align:center;
            background:#d0d2d3;
            margin-right:2px;
        }
    }

    &-copy{
        color:#fff;
        padding:10px;
        background:#1f2836;
        p{
            margin:0;
        }
    }
}